<html>
<head>
  <title>Sudoku Help</title>
  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
</head>
<body>
 <div id="background">
    <img src="/images/background1.jpg" class="stretch" alt=""/>
</div>
<div id"logo">
  <img img src="images/logo.png">
</div>
  <H1> How to play Sudoku </H1>
  <div id="help">
  Every Sudoku has a unique solution that can be reached logically. Enter numbers into the blank spaces so that each row, column and 3x3 box contains the numbers 1 to 9.
  </div>
</body>
</html>
