<html>
<head>
  <title>Sudoku Game</title>
  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1>Life is too short for playing Sudoku</h1>
  <div id="flash">
    <%= flash[:notice] %>
  </div>
  <div id="sudoku">
    <form action="/" method="post">
    <% 3.times do |row| %>
      <div class='row'>
        <% 3.times do |box| %>
          <div class='box'>
            <% 3.times do |cell_row| %>
              <div class='cell-row'>
                <div class="cell">
                  <% 3.times do |cell| %>
                  <%= partial :cell, :locals=>{:cell_index => row*27+box*3+cell_row*9+cell}%>
                  <% end %>
                </div>
              </div>
            <%end%>
          </div>
        <%end%>
      </div>
    <%end%>
    <button>Check Solution</button>
    </form>
  </div>
    <button><a href="/button">New Puzzle</a></button>
</body>
</html>

