<html>
<head>
  <title>Sudoku Game</title>
  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="background">
    <img src="/images/background1.jpg" class="stretch" alt=""/>
</div>
<div id"logo">
  <img img src="images/logo.png">
</div>
  <div id="flash">
    <%= flash[:notice] %>
  </div>
  <div id="sudoku">
    <form action="/" method="post">
    <% 3.times do |row| %>
      <div class='row'>
        <% 3.times do |box| %>
          <div class='box'>
            <% 3.times do |cell_row| %>
              <div class='cell-row'>
                <div class="cell">
                  <% 3.times do |cell| %>
                  <%= partial :cell, :locals=>{:cell_index => row*27+box*3+cell_row*9+cell}%>
                  <% end %>
                </div>
              </div>
            <%end%>
          </div>
        <%end%>
      </div>
    <%end%>
    <div class="buttons">
    <button>Check the chemistry, BITCH!</button>
    </div>
    </form>
  </div>
    <div class="buttons">
    <button><a href="/button">New Puzzle, BITCH!</a></button>
    </div>
</body>
</html>

